@media only screen and (max-width: 776px) {
	#document .menu .content{
		width: 90%;
	}
		#document .menu .content .left{
			display: none;
		}
		#document .menu .content .right{
			width: 100%;
		}
		#document .menu .content .right .two{
		width: 80% !important;
		height: 60px;
		/*border: 1px solid darkgreen;
		box-sizing: border-box;*/
		margin: 0 auto;
		margin-left: 64px;
		margin-top: 30px;
		}
		#document .menu .content .right .two .you{
			background: #03A9F8;
			margin-left: 0px;
		}
}